@import '../../index.scss';

.nav{
    display: flex;
    flex-wrap: wrap;
    &__list{
        display: flex;
        list-style-type: none;
        li{
            margin-right: $spacing-medium;
            a{
                text-decoration: none;
                color: $color-white;
                padding: 5px 10px;
                min-width: 70px;
                text-align: center;
                transition: .4s;
                border: 1px solid transparent;
            }
            :global(a.active){
                border: 1px solid rgb(105, 0, 196);
                border-radius: 3px;
                text-shadow: 0 0 2px $color-yellow;
            }
        }
    }
}