$color-white: #fff;
$color-black: #000;
$color-dark-grey: #10100e;
$color-blue: #6a83fb;

$color-yellow: #ffff00;

$text-shadow-blue:
		0 0 2px $color-white,
		0 0 40px $color-blue;

$spacing-medium: 20px;
$spacing-large: 30px;

$bacground-img: url('./static/mainBg.jpg');

$font-famaly: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: $color-dark-grey;
  font-family: $font-famaly;
  background-image: $bacground-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
